@model laba2.Models.DatabaseCourseModel

@{
    ViewData["Title"] = "Просмотр музея";
}

<h1>Просмотр музея</h1>

<div class="mb-2">
    @Html.LabelFor(m => m.Id): @Html.DisplayFor(m => m.Id)
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.Name): @Html.DisplayFor(m => m.Name)
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.Curator): @Html.DisplayFor(m => m.Curator)
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.Established): @Html.DisplayFor(m => m.Established)
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.Location): @Html.DisplayFor(m => m.Location)
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.TicketPrice): @Html.DisplayFor(m => m.TicketPrice)
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.IsGuidedToursAvailable): @Html.DisplayFor(m => m.IsGuidedToursAvailable)
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.OpeningHours): @Html.DisplayFor(m => m.OpeningHours)
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.CollectionSize): @Html.DisplayFor(m => m.CollectionSize)
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.Description): @Html.DisplayFor(m => m.Description)
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.ContactPhone): @Html.DisplayFor(m => m.ContactPhone)
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.Website): @Html.DisplayFor(m => m.Website)
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редактировать</a>
    <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
</p>
